/*! HTML5 Boilerplate v4.3.0 | MIT License | http://h5bp.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
                                            Base styles: opinionated defaults
                                            ========================================================================== */
@import url(http://fonts.googleapis.com/css?family=Amatic+SC);
@import url(http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300);

html,
button,
input,
select,
textarea {
    color: #222;
}

html {
    font-size: 1em;
    line-height: 1.4;
}

/* ==========================================================================
                                                Author's Custom Styles
                                           ========================================================================== */



/****************************BASIC STYLES AND LAYOUT************************************/
body {
    font-family: "Open Sans Condensed", Helvetica, sans-serif;
    font-size: 100%;
    padding: 0;
    margin: 0;
}

#container {
    margin: 15px;
    padding: 5px;
}

header {
    min-height: 200px;
    background: url(../img/swirl.png);
    text-align: center;
    border-bottom: 1px solid #000;
}

#logo img {
    padding: 5px;
    margin: 15px;
}

h1 {
    font-family: "Amatic SC", "Trebuchet MS", Helvetica, sans-serif;
    text-align: center;
    font-size: 36px;
}

#page2 h1 {
    text-align: left;
}

h1 a {
    text-decoration: none;
    color: #8133B4;
}

/**************************************NAV****************************************/
nav {
    font-family: "Amatic SC", "Trebuchet MS", Helvetica, sans-serif;
    font-size: 1.5em;
    text-align: center;
    background: #fff;
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
    width: 100%;
}

nav ul li {
    display: inline;
    margin: 10px;
}

nav a {
    text-decoration: none;
    color: #000;
}

#page2, #page3, #page4 {
    display: none;
}

/***************************************SLICKNAV***************************************/
.slicknav_menu  {
    text-align: right;
}

.slicknav_menu i {
    color: #8133B4;
}

.slicknav_menutxt {
    font-size: 2em;
    margin-right: 20px;
}

/*********************************SHOW CURRENT NAV POSITION****************************/
.current {
    border-bottom: 3px solid #8133B4;
}

/**************************PHOTOS**********************************/
#daniellePics {
    float: left;
    position: relative;
}

#danielle, #danielle2 {
    border-radius: 50%;
    max-width: 100%;
    max-height: 100%;
    margin-right: 10px;
}

#danielle {
    display: block;
    border : solid 3px rgba(0,0,0, 1);
}

#danielle2 {
    position: absolute;
    top: 75px;
    left: 75px;
}

#danielle2, #danielle2 a {
    text-align: center;
    font-weight: bold;
    font-size: bigger;
    color: #8133B4;
}

.hide { /* USED  TO HIDE #danielle2 */
    display: none;
}

/*****************************CONTACT FORM***************************************/
form {
    border: 1px solid #000;
    width: 100%;
    max-width: 400px;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
}

input#submit {
    margin-top: 5px;
    padding: 5px 15px;
    text-shadow: 0px 1px 1px #fff;
    border-bottom: 2px solid #000;
    border-radius: 5px;
    background-color: #e9e9e9;
    background: -webkit-gradient(linear, left top, left bottom, from(#d5d5d5), to(#bfbebe));
}

input, select, textarea, button {
    font-family: inherit;
    display: block;
    max-width: 100%
}

textarea {
    width: 100%;
}

.validator-error {
    color: #8133B4;
}

/******************************SEND BUTTON HOVER******************************/
.box-shadow-inset {
  display: inline-block;
  -webkit-transition-duration: 0.1s;
  transition-duration: 0.1s;
  -webkit-transition-property: box-shadow;
  transition-property: box-shadow;
  box-shadow: inset 0 0 0 rgba(0, 0, 0, 0.6), 0 0 1px rgba(0, 0, 0, 0);
  /* Hack to improve aliasing on mobile/tablet devices */
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
}
.box-shadow-inset:hover, .box-shadow-inset:focus, .box-shadow-inset:active {
  box-shadow: inset 2px 2px 2px rgba(0, 0, 0, 0.6), 0 0 1px rgba(0, 0, 0, 0);
  /* Hack to improve aliasing on mobile/tablet devices */
}

/***********************************FOOTER************************************/
footer {
    text-align: center;
    margin: 10px;
    background: #e9e9e9;
    margin: 0;
    padding: 0;
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
}

footer p {
    margin: 2px auto;
}

#social ul li {
    display: inline;
    margin-right: 20px;
}

#social a, #social a:active, #social a:link, #social a:visited {
    text-decoration: none;
    color: #8133B4;
    font-size: 1.2em;
}

#social a:hover {
    color: #cc31f9;
}

/**********************************CLEAR FIX*********************************/
.group:after {
  content: "";
  display: table;
  clear: both;
}

/****************************RESPONSIVE MEDIA QUERIES************************/
@media only screen and (max-width: 600px) {

    nav.main-nav {
        display: none;
    }

    .slicknav_menu {
        display: block;
    }

    form {
        max-width: 90%;
    }

    #danielle {
        opacity: .25;
    }

    #danielle2 {
        display: block;
    }

}

@media only screen and (max-width: 375px) {
    nav ul li {
        margin: 2px;
    }

    #social ul li {
        margin: 7px;
    }
}


/* ==========================================================================
                                               Biolderplate Built-In Styles
                                            ========================================================================== */

/* Remove text-shadow in selection highlight: h5bp.com/i
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*Remove the gap between images, videos, audio and canvas and the bottom of
 * their containers: h5bp.com/i/440
 */

audio,
canvas,
img,
video {
    vertical-align: middle;
}

/*Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
                                                Browse Happy prompt
                                          ========================================================================== */

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}


/* ==========================================================================
                                               Print styles.
                                               Inlined to avoid required HTTP connection: h5bp.com/r
                                            ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
