/*! HTML5 Boilerplate v4.3.0 | MIT License | http://h5bp.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
                                            Base styles: opinionated defaults
                                            ========================================================================== */
@import url(http://fonts.googleapis.com/css?family=Amatic+SC);
@import url(http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300);

html,
button,
input,
select,
textarea {
    color: #222;
}

html {
    font-size: 1em;
    line-height: 1.4;
}

/* ==========================================================================
                                                Author's Custom Styles
                                           ========================================================================== */



/****************************BASIC STYLES AND LAYOUT************************************/
                    /************HEADER STYLES*************/

body {
    font-family: "Open Sans Condensed", Helvetica, sans-serif;
    font-size: 100%;
    padding: 0;
    margin: 0;
}

header {
    height: 200px;
    background: url(../img/swirl.png);
    text-align: center;
}

#logo img {
    padding: 5px;
    margin: 15px;
}

h1 {
    font-family: "Amatic SC", "Trebuchet MS", Helvetica, sans-serif;
    text-align: center;
}

h1 a {
    font-size: small;
    text-decoration: none;
    color: #8133B4;
}

section, section p {
    margin: 10px;
}

#left {
    float: left;
    width: 30%;
}

#left a {
    text-align: center;
}

#right {
    width: 60%;
    float: right;
}

#right img {
    max-width: 100%;
    border: 1px solid #000;
    margin: 5px;
}

.leftHeader {
    text-align: left;
    margin-left: 20px;
}

/**************************************MAIN NAV****************************************/
nav {
    font-family: "Amatic SC", "Trebuchet MS", Helvetica, sans-serif;
    font-size: 1.5em;
    text-align: center;
    background: #fff;
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
    width: 100%;
}

nav ul li {
    display: inline;
    margin: 10px;
}

nav a {
    text-decoration: none;
    color: #000;
}

/*********************************SHOW CURRENT NAV POSITION****************************/
nav a:hover, .nav li.active, .nav li.active a {
    border-bottom: 3px solid #8133B4;
}

body.home a.home, body.about a.about, body.portfolio a.portfolio, body.contact a.contact {

    border-bottom: 3px solid #8133B4;
}


/*************************PLACEHOLDER IMAGES FOR HOME PAGE*****************************/
#placeholder {
    text-align: center;
}

.placeholder {
    width: 40%;
    margin: 5px auto;
}

/**********************************ABOUT**********************************************/
#danielle, #danielle2 {
    max-width: 100%;
    max-height: 100%;
    min-width: 225px;
    margin: auto;
}

#danielle {
    display: block;
}

.hide { /* USED  TO HIDE #danielle2 */
    display: none;
}

/*************************************PORTFOLIO**************************************/
#port-img img {
    max-width: 100%;
    border: 2px solid #000;
    text-align: center;
}

.portfolioUI {
    width: 30%;
    min-width: 260px;
    text-align: center;
    margin: 10px;
}

#portfolioLogo {
    text-align: center;
}


/***********************************CONTACT*****************************************/
.connect {
    text-align: center;
    font-size: 6.5em;
    border: 1px solid #999;
    border: inset 1px solid #333;
    -webkit-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);;
}

.connect a, .connect a:active, .connect a:visited, .connect a:link, .connect a:hover {
     color: #551a8b;
}

/********************************CONNECT HOVER*************************************/
.grow {
  display: inline-block;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: -webkit-transform;
  transition-property: transform;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}

.grow:hover {
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
}

/*****************************CONTACT FORM***************************************/
form {
    text-align: center;
    margin: 10px;
    border: 1px solid #999;
    border: inset 1px solid #333;
    -webkit-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
}

input#submit {
    margin-top: 5px;
    padding: 5px 15px;
    text-shadow: 0px 1px 1px #fff;
    border-bottom: 2px solid #000;
    border-radius: 5px;
    background-color: #e9e9e9;
    background: -webkit-gradient(linear, left top, left bottom, from(#d5d5d5), to(#bfbebe));
}

input, select, textarea, button {
    font-family: inherit;
    margin: auto;
}

textarea {
    width: 50%;
}

input {
    margin: 5px auto;
}

label {
    display: block;
}

/******************************SEND BUTTON HOVER******************************/
.box-shadow-inset {
  display: inline-block;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: box-shadow;
  transition-property: box-shadow;
  box-shadow: inset 0 0 0 rgba(0, 0, 0, 0.6), 0 0 1px rgba(0, 0, 0, 0);
  /* Hack to improve aliasing on mobile/tablet devices */
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
}
.box-shadow-inset:hover, .box-shadow-inset:focus, .box-shadow-inset:active {
  box-shadow: inset 2px 2px 2px rgba(0, 0, 0, 0.6), 0 0 1px rgba(0, 0, 0, 0);
  /* Hack to improve aliasing on mobile/tablet devices */
}

/***********************************FOOTER************************************/
footer {
    text-align: center;
    margin: 10px;
    background: #e9e9e9;
    margin: 0;
    padding: 0;
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
}

footer p {
    text-align: center;
}

#social ul li {
    display: inline;
    margin: 10px;
}

#social a, #social a:active, #social a:link, #social a:visited {
    text-decoration: none;
    color: #8133B4;
    font-size: 1.5em;
}

#social a:hover {
    color: #cc31f9;
}

/**********************************CLEAR FIX*********************************/
.group:after {
  content: "";
  display: table;
  clear: both;
}

/****************************MOBILE: MOBILE NAV HIDER*************************/

.mobile-only {
    display: none;
}

#mobile-nav {
    display: none;
}

/****************************RESPONSIVE MEDIA QUERIES************************/

@media only screen and (max-width: 800px) {
    #right {
        float: none;
        margin: auto;
        width: 100%;
    }

    .placeholder {
        width: 60%;
    }

    form {
        max-width: 100%;
    }
}

@media only screen and (max-width: 776px) {
    #left {
        float:none;
        margin: auto;
        width: 100%
    }

    #left img, #right img {
        width: 100%
    }
}

@media only screen and (max-width: 650px) {
    .connect {
        font-size: 4em;
    }

    nav.main-nav {
        display: none;
    }

    .mobile-only {
        display: block;
        position: absolute;
        top: 3px;
        right: 17px;
        font-size: 2.5em;
        color: #8133B4;
    }

    .mobile-only a:hover {
        border-bottom: none;
    }

    #mobile-nav, #mobile-nav ul li {
        display: block;
        line-height: 1.5em;
        font-size: 2.5em;
    }

}

@media only screen and (max-width: 375px) {
    nav ul li {
        margin: 2px;
    }

    #social ul li {
        margin: 7px;
    }
}


/* ==========================================================================
                                               Biolderplate Built-In Styles
                                            ========================================================================== */

/* Remove text-shadow in selection highlight: h5bp.com/i
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*Remove the gap between images, videos, audio and canvas and the bottom of
 * their containers: h5bp.com/i/440
 */

audio,
canvas,
img,
video {
    vertical-align: middle;
}

/*Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
                                                Browse Happy prompt
                                          ========================================================================== */

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}


/* ==========================================================================
                                               Print styles.
                                               Inlined to avoid required HTTP connection: h5bp.com/r
                                            ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
